<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="height: 800px;width: 150px;background-color: aqua;float: left;">
        <ul>
            <li><a href="{% url 'patients:home' %}">home</a></li>
            <li><a href="{% url 'patients:contact' %}">condact</a></li>
            <li><a href="{% url 'patients:aboutas' %}">about as</a></li>
        </ul>
    </div>
    <div style="height: 800px;width: 1000px;float: left;border: 1px solid;">

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>