{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>name</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto iure nemo velit laudantium assumenda unde laborum dolore incidunt odio fugiat, architecto maxime, recusandae quas voluptatibus rem modi vel, vitae nulla!</p>
<img src="{% static 'images/img 1.jfif'%}" alt="">
</body>
</html>